<div class="header">
    <mat-toolbar color="primary">
        <div class="brand-banner">
            <div class="logo">
                <img class="img-logo" src={{logo.path}}>
            </div>
            <div class="title">
                <!-- <span class="page_title">{{appTitle}}</span> -->
                <h3 class="page_title">{{appTitle}}</h3>
            </div>
        </div>

        <div class="user-navigation">
            <button id="user-name" mat-button [matMenuTriggerFor]="menu">{{ username }}</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Settings</button>
                <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
            <img class="profile-photo" src="assets/images/user.png">
        </div>
    </mat-toolbar>
</div>