:host(){
  border-right: 1px solid #e1e1e1;
}
.active-left-nav {
  background-color: #3f51b5 !important;
  color: white !important;
}

a:hover {
  background-color: #919edd !important;
  color: black;
}

.active-left-nav .material-icons {
  padding-right: 10px;
  color: white;
}

.material-icons {
  padding-right: 10px;
  color: #3f51b5;
}
.left-nav-list {
  padding-top: 0px;
  width: 220px;
  /* border-right: 1px solid #e1e1e1; */
  /* height: 97%; */
}

.left-col-head {
  text-align: center;
  margin: 25px 0px 25px -10px;
}
.left-col-head .logo-img {
  width: 100px;
}
.menu-heading {
  font-size: 13px;
  font-weight: bold;
  margin: 10px 0px 8px 5px;
  color:#3f51b5;
  text-transform: uppercase;
}
.item-text {
  font-size: 14px;
}

.border-bot{
  border-color: #EEEEEF
}