<!-- <div *ngFor="let key of options;let i = index">

    <div class="detail-row" fxLayout="row" *ngIf="data[key] != undefined && labels" fxLayoutGap="{{separatorWidthPX}}">

        <label class="detail-label" fxFlex="{{labelWidth}}">{{labels[key]}}</label>
        <div fxFlex fxLayout="column">
            <div class="detail-data">{{data[key]}}</div>
            <div *ngIf="isLengthyData[i] && showMoreLessLink">
                <a class="description-anchor" (click)="showDescription(key)">{{show[key]}}</a>
            </div>
        </div>
    </div>
</div> -->
<div>
    <mat-list>
        <div fxLayout="row" [ngStyle]="{'height':rowHeight}">
            <span *ngFor="let key of displayedColumns;let i = index" fxFlex="{{labelWidth[i]}}" fxFlexAlign="center">
                <mat-list-item class="header-row">{{labels[key]}}</mat-list-item>
            </span>
        </div>
        <mat-divider></mat-divider>
    </mat-list>

    <div *ngFor="let object of data">
        <mat-list>
            <div fxLayout="row" [ngStyle]="{'height':rowHeight}">
                <span fxFlex="{{labelWidth[i]}}" *ngFor="let key of displayedColumns; let i = index" fxFlexAlign="center">
                    <mat-list-item class="body-row"> {{object[key]}} </mat-list-item>
                </span>
            </div>
            <mat-divider></mat-divider>
        </mat-list>
    </div>
</div>

<!-- <mat-list>
    <div class="header-row" fxLayout>
        <mat-list-item fxFlex="40">Question</mat-list-item>
        <mat-list-item fxFlex="10">Remarks</mat-list-item>
        <mat-list-item fxFlex="10">Count</mat-list-item>
        <mat-list-item fxFlex="30">Options</mat-list-item>
        <mat-list-item fxFlex="10"></mat-list-item>
    </div>
    <mat-divider></mat-divider>
</mat-list> -->
<!-- <mat-card-content>
    <div>
        <mat-table #table [dataSource]="dataSource">

            <div *ngFor="let key of displayedColumns;let i = index">
                <ng-container matColumnDef="{{displayedColumns[i]}}">
                    <mat-header-cell *matHeaderCellDef> {{displayedColumns[i]}} </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element[displayedColumns[i]]}} </mat-cell>
                </ng-container>
            </div>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

    </div>
</mat-card-content> -->

<!-- <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
            </ng-container> -->