<div *ifPermitted="'configurations.index'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <div [@pageState]="pageState">

        <div class="mat-elevation-z8">
            <div>
                <mat-form-field fxFlex class="dgSearchBar">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
            </div>
            <div>

                <mat-table [dataSource]="dataSource" *ngIf="loaded"     matSort (matSortChange)="sortData()" matSortDisableClear>

                    <ng-container matColumnDef="value">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{pageTitle}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="options">
                        <mat-header-cell *matHeaderCellDef > </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="options">

                            <a mat-icon-button (click)="openForm('Update',element.id)" *ifPermitted="'configurations.update'">
                                <mat-icon matTooltip="Edit">edit</mat-icon>
                            </a>
                            <a mat-icon-button matTooltip="Delete" *ifPermitted="'configurations.delete'">
                                <mat-icon class="delete-icon" (click)="deleteClick(element.id)">delete</mat-icon>
                            </a>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>

            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
            </mat-paginator>
        </div>

    </div>
    <div class="right-bottom-button">
        <a mat-fab color="primary" (click)="openForm('Add New','')" *ifPermitted="'configurations.create'">
            <mat-icon>add</mat-icon>
        </a>
    </div>
</div>