<div *ifPermitted="'configurations.find'">

    <div>

        <div class="dialog-title">
            {{data.action}}: {{selectedConfiguration.label}}
        </div>

        <form [formGroup]="fg" (ngSubmit)="saveData(fg.value)" #form="ngForm">
            <div fxLayout="row">
                <mat-form-field fxFlex>
                    <input matInput [placeholder]="componentLabels.name" formControlName="value" required [autofocus]="true">
                    <mat-error *ngIf="fg.get('value').hasError('required')">Name is Required.</mat-error>
                </mat-form-field>

            </div>
            <div>
                <mat-form-field *ngIf="hasParent" fxFlex>
                    <mat-select [placeholder]="'Select ' + parentLabel" formControlName="parentKeyId" required mat-autofocus>
                        <mat-option *ngFor="let parent of parentList" [value]="parent.id" mat-autofocus>
                            {{ parent.value }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="fg.get('parentKeyId').hasError('required')">This field is Required.</mat-error>
                </mat-form-field>
            </div>

            <div formArrayName="configurationOptions" *ngFor="let item of fg.get('configurationOptions')['controls']; let i = index;">
                <div [formGroupName]="i">
                    <mat-form-field fxFlex>
                        <input class="lower-to-capital" matInput [placeholder]="item['controls']['label']['value']" formControlName="value">
                    </mat-form-field>
                </div>
            </div>

            <div>
                <div *ifPermitted="'configurations.create'">
                    <button mat-raised-button [disabled]="!form.valid" color="primary" type="submit">Save</button>
                    <button mat-raised-button mat-dialog-close type="button" color="accent"  (click)="onNoClick()">Cancel</button>
                </div>
            </div>
        </form>
    </div>

</div>