<div *ngIf="type == 'icon'" class='w-block'>
    <a [routerLink]="link" class="lnk">
        <div>
            <mat-icon class="lnk-icon">{{icon}}</mat-icon>
        </div>
        <div class='lbl'>
            {{label}}
        </div>
    </a>
</div>

<div *ngIf="type == 'text'" class='w-block-txt'>
    <a [routerLink]="link" class="lnk">
        <div class='lbl'>
            {{label}}
        </div>
    </a>
</div>