<mat-nav-list>
    <div class="left-nav">
        <ng-template let-item let-last="last" ngFor [ngForOf]="links">
            <a mat-list-item [class.active]="clicked === item.link" (click)="getChildType(item.link)">
                <i class="material-icons">{{item.icon}} </i>
                <span class="heading">{{item.text}} </span>
            </a>
            <mat-divider matInset *ngIf="!last"></mat-divider>
        </ng-template>
    </div>
</mat-nav-list>