.detail-row {
    padding: 15px 8px 5px 0px;
    border-bottom: 1px dashed lightgray;
}

.detail-label {
    text-align: right;
    color: #5e5e5e;
}

.detail-data {
    white-space: pre-line;
    text-align: justify;
    margin-right: 5px;
}

.description-anchor {
    cursor: pointer;
    color: rgb(126, 126, 223);
}