<div *ngFor="let key of showOnly;let i = index">

    <div class="detail-row" fxLayout="row" fxLayoutGap="{{separatorWidthPX}}">
        <!-- <div class="detail-row" fxLayout="row" *ngIf="data[key] != undefined && labels" fxLayoutGap="{{separatorWidthPX}}"> -->

        <label class="detail-label" fxFlex="{{labelWidth}}">{{labels[key]}}</label>
        <div fxFlex fxLayout="column">
            <div class="detail-data">{{data[key]}}</div>
            <div *ngIf="isLengthyData[i] && showMoreLessLink">
                <a class="description-anchor" (click)="showDescription(key)">{{show[key]}}</a>
            </div>
        </div>
    </div>
</div>