.sideNav {
    position: fixed;
    width: 220px;
    margin-top: 64px;
}

.sidenav-heading {
    background-color: #3f51b5;
    color: white;
    text-align: start;
    margin: 0px;
    padding-left: 15px;
    padding-top: 23px;
    padding-bottom: 22px;
    font-size: 16px;
}

.side-nav-options {
    text-align: start;
    padding: 5px 0px 5px 15px;
    color: rgb(75, 74, 74);
}
