<!--  -->
<mat-sidenav align="end" #sidenav (keydown.escape)="close('escape')" disableClose class="sideNav">
    <h3 (click)="close('toggle button')" class="sidenav-heading">Side Nav</h3>
    <div fxLayout="column">
        <!-- <button mat-button (click)="close('toggle button')" [routerLink]="['/campus']" class="side-nav-options">Campus</button>
        <button mat-button (click)="close('toggle button')" [routerLink]="['/institute/dashboard']" class="side-nav-options">Institute</button>
        <button mat-button (click)="close('toggle button')" [routerLink]="['/setting/dashboard']" class="side-nav-options">Setting</button> -->
        <button mat-button (click)="close('toggle button')" [routerLink]="['/security']" class="side-nav-options">Security</button>
        <button mat-button (click)="close('toggle button')" class="side-nav-options">About Us</button>
        <button mat-button (click)="close('toggle button')" class="side-nav-options">Contact Us</button>
        <button mat-button (click)="close('toggle button')" class="side-nav-options">Help</button>
    </div>

</mat-sidenav>

<!-- <mat-sidenav-content class="before-toggle ">
            <mat-icon (click)="sidenav.open() ">list</mat-icon>
        </mat-sidenav-content> -->
<!-- <div *ngIf="!shouldRun ">Please open on Stackblitz to see result</div> -->