<div>
    <h3 class="heading">Upload Attachment</h3>
    <div fxLayout="column">
        <div class="file-input-outer-wrapper">
            <div class="file-input-wrapper">
                <span class="span-file-input">
                    <i class="material-icons">attachment</i>
                    <label>Choose Files</label>
                </span>
                <input type="file" ng2FileSelect [uploader]="uploader" multiple [accept]="fileFilter" />
            </div>
        </div>
        <div *ngIf="uploader.queue.length > 0">
            <mat-list>
                <div fxLayout="row" class="pd-header">
                    <mat-list-item fxFlex="30">
                        <strong>Name</strong>
                    </mat-list-item>
                    <mat-list-item fxFlex="10">
                        <strong>Size</strong>
                    </mat-list-item>
                    <mat-list-item fxFlex="20">
                        <strong>Progress</strong>
                    </mat-list-item>
                    <mat-list-item fxFlex="10">
                        <strong>Status</strong>
                    </mat-list-item>
                    <mat-list-item fxFlex="30" fxLayout="row" fxLayoutAlign="end">
                        <strong>Actions</strong>
                    </mat-list-item>

                </div>
                <mat-divider></mat-divider>
                <div>
                    <div fxLayout="column" *ngFor="let item of uploader.queue">
                        <div fxLayout="row" class="pd-row" fxLayoutAlign="space-between">
                            <mat-list-item fxFlex="30">
                                {{ item?.file?.name }}
                            </mat-list-item>

                            <mat-list-item fxFlex="10"> {{ item?.file?.size/1024/1024 | number:'.2' }} MB</mat-list-item>

                            <mat-list-item fxFlex="20">
                                <mat-progress-bar mode="determinate" [value]="item.progress"></mat-progress-bar>
                            </mat-list-item>

                            <mat-list-item fxFlex="10">
                                <span *ngIf="item.isSuccess">
                                    <i class="material-icons">done</i>
                                </span>
                                <span *ngIf="item.isCancel">
                                    <i class="material-icons">block</i>
                                </span>
                                <span *ngIf="item.isError">
                                    <i class="material-icons">warning</i>
                                </span>
                            </mat-list-item>
                            <mat-list-item fxFlex="30" fxLayout="row" fxLayoutAlign="end">
                                <!-- <button mat-raised-button class="single-upload" type="button" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess"
                                    *ngIf="uploadType !== 'onSave'">
                                    <i class="material-icons">file_upload</i> Upload
                                </button> -->
                                <!-- <button mat-raised-button class="single-cancel" type="button" (click)="item.cancel()" [disabled]="!item.isUploading" *ngIf="uploadType !== 'onSave'">
                                    <i class="material-icons">block</i> Cancel
                                </button> -->
                                <a mat-fab type="button" class="single-upload" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess"
                                    *ngIf="uploadType !== 'onSave'" fxLayout="column" fxLayoutAlign="center">
                                    <mat-icon>file_upload</mat-icon>
                                </a>
                                <a mat-fab type="button" class="single-cancel" (click)="item.cancel()" [disabled]="!item.isUploading" *ngIf="uploadType !== 'onSave'"
                                    fxLayout="column" fxLayoutAlign="center">
                                    <mat-icon>block</mat-icon>
                                </a>

                                <a mat-fab type="button" class="single-remove" (click)="item.remove()" fxLayout="column" fxLayoutAlign="center">
                                    <mat-icon>remove</mat-icon>
                                </a>

                            </mat-list-item>

                        </div>
                        <div>
                            <mat-error class="err" *ngIf="item['error'] && item['errorStatus'] === 403">Invalid file size. Max file size is {{fileSize}}MB</mat-error>
                            <mat-error class="err" *ngIf="item['error'] && item['errorStatus'] === 400">Invalid file type.</mat-error>
                        </div>
                        <mat-divider></mat-divider>
                    </div>
                </div>

            </mat-list>
            <div>
                <div class="progress">
                    <span class="p-heading">
                        Progress
                    </span>

                    <div class="progress-bar">
                        <mat-progress-bar mode="determinate" [value]="uploader.progress"></mat-progress-bar>

                        <!-- <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div> -->
                    </div>
                </div>
                <div *ngIf="uploadType !== 'onSave'">
                    <button mat-raised-button type="button" class="all-upload" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                        <i class="material-icons">file_upload</i> Upload All
                    </button>
                    <button mat-raised-button type="button" class="all-cancel" class="btn btn-warning btn-s" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                        <i class="material-icons">block</i> Cancel All
                    </button>
                    <button mat-raised-button type="button" class="all-remove" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                        <i class="material-icons">remove</i> Remove All
                    </button>
                </div>

            </div>
        </div>

    </div>

</div>