<div>

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <div [@pageState]="pageState">

        <div class="mat-elevation-z8">
            <div *ngIf="!searchView" fxLayout fxLayoutAlign="end">

                <!-- <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter loaded record">
                </mat-form-field> -->
                <button mat-icon-button matTooltip="Search from file" matTooltipPosition="before" (click)="toggleSearch(true)">
                    <mat-icon>search</mat-icon>
                </button>

            </div>
            <!-- <div *ngIf="!searchView" fxLayout fxLayoutAlign="space-between" style="padding: 20px;">
                <mat-form-field fxFlex="80">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter loaded record">
                </mat-form-field>
                <button fxFlex="20" mat-icon-button matTooltip="Search from file" matTooltipPosition="before" (click)="toggleSearch(true)">
                    <mat-icon>search</mat-icon>
                </button>
            </div> -->
            <div *ngIf="searchView">
                <form novalidate [formGroup]="fg" (ngSubmit)="customSearch(fg.value)">

                    <div fxLayout="column" fxLayoutGap="10px" style="padding: 20px;">
                        <div fxLayout fxLayoutGap="10px">

                            <div fxFlex="40" fxLayout="column" fxLayoutGap="10px">
                                <div formArrayName="includes" *ngFor="let element of fg.get('includes')['controls']; let i = index; let last = last; let first = first;">
                                    <div [formGroupName]="i">
                                        <mat-form-field fxFlex>
                                            <input matInput placeholder="Include" formControlName="item">
                                        </mat-form-field>

                                        <button mat-icon-button type="button" (click)="removeSearchItem('includes', i)" *ngIf="element.controls.item.value || !first">
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                        <button mat-icon-button type="button" (click)="addNewSearchItem('includes')" *ngIf="element.controls.item.value && last">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div fxFlex="40" fxLayout="column" fxLayoutGap="10px">
                                <div formArrayName="excludes" *ngFor="let element of fg.get('excludes')['controls']; let i = index; let last = last; let first = first;">
                                    <div [formGroupName]="i">
                                        <mat-form-field fxFlex>
                                            <input matInput placeholder="Exclude" formControlName="item">

                                        </mat-form-field>

                                        <button mat-icon-button type="button" (click)="removeSearchItem('excludes', i)" *ngIf="element.controls.item.value || !first">
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                        <button mat-icon-button type="button" (click)="addNewSearchItem('excludes')" *ngIf="element.controls.item.value && last">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div fxFlex="20">
                                <button mat-raised-button type="submit" color="primary">Search</button>
                                <button mat-raised-button color="accent" (click)="toggleSearch(false)">Cancel</button>
                            </div>
                        </div>

                        <div fxLayout>
                            <mat-form-field fxFlex="39">
                                <input matInput [matDatepicker]="picker" (focus)="picker.open()" (click)="picker.open()" [readonly]="true" placeholder="Date"
                                    formControlName="date">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>



                </form>
            </div>
            <div>

                <mat-table #table [dataSource]="dataSource" *ngIf="loaded" matSort (matSortChange)="sortData()" matSortDisableClear>

                    <ng-container matColumnDef="log-detail">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Log Detail </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>

            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 40]" [showFirstLastButtons]="true">
            <!-- <mat-paginator #paginator [pageSize]="20" [pageSizeOptions]="[20, 40, 60]" [showFirstLastButtons]="true"> -->
            </mat-paginator>
        </div>

    </div>
</div>