<!-- <shared-page-loader *ngIf="!loaded"> </shared-page-loader> -->

<div class="mat-elevation-z8">

    <div>
        <mat-form-field fxFlex class="dgSearchBar">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
    </div>
    <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" matSortDisableClear>

        <span *ngFor="let headerAttribute of headerAttributes">

            <ng-container [matColumnDef]="headerAttribute.field" *ngIf="headerAttribute.label">
                <mat-header-cell *matHeaderCellDef mat-sort-header [fxFlex]="headerAttribute.width" > {{ headerAttribute.label }} </mat-header-cell>
                <mat-cell *matCellDef="let element"  [fxFlex]="headerAttribute.width"> {{element[headerAttribute.key]}} </mat-cell>
            </ng-container>

            <ng-container [matColumnDef]="headerAttribute.field" *ngIf="!headerAttribute.label">
                <mat-header-cell *matHeaderCellDef  [fxFlex]="headerAttribute.width"> </mat-header-cell>
                <mat-cell *matCellDef="let element" class="options"  [fxFlex]="headerAttribute.width">
                    <span *ngFor="let actionButton of actionButtons">

                        <span *ngIf="actionButton.type === 'delete-dialogue'">
                            <span *ifPermitted="actionButton.perm">
                                <a (click)="deleteClicked(element.id)" mat-icon-button>
                                    <mat-icon [matTooltip]="actionButton.toolTip" class="delete-icon">{{actionButton.icon}}</mat-icon>
                                </a>
                            </span>
                        </span>
                        <span *ngIf="actionButton.type === 'update-dialogue'">
                            <span *ifPermitted="actionButton.perm">
                                <a (click)="updateClicked(element.id)" mat-icon-button>
                                    <mat-icon [matTooltip]="actionButton.toolTip">{{actionButton.icon}}</mat-icon>
                                </a>
                            </span>
                        </span>
                        <span *ngIf="actionButton.type === 'redirect'">
                            <span *ifPermitted="actionButton.perm">
                                <a [routerLink]="[actionButton.url,element.id]" mat-icon-button>
                                    <mat-icon [matTooltip]="actionButton.toolTip">{{actionButton.icon}}</mat-icon>
                                </a>
                            </span>
                        </span>
                    </span>
                </mat-cell>
            </ng-container>
        </span>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator (page)="pageEvent($event)"  [length]="dataLength" #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"  [showFirstLastButtons]="true"></mat-paginator>


</div>