<div>
    <mat-toolbar color="primary" fxLayout="row">

        <div fxLayout="row" fxFlex>
            
            <div *ngFor="let item of moduleMenu">
                <a *ngIf="item['display']" class="mm-item" [class.activeModule]="(item.name == selectedModuleName)" routerLink="{{item.url}}" (click)="navigateAndLoadMenu(item)">{{item.title}}</a>
            </div>
            
        </div>
        
        <div>
            <button mat-button [matMenuTriggerFor]="menu" fxLayout="row">
                <div fxFlex style="margin-right:10px;">{{ username }}</div>
                <!-- <img fxFlex class="profile-photo" src="/assets/images/user.png"> -->
            </button>
            <mat-menu #menu="matMenu">
                <a mat-menu-item [routerLink]="['/profile/view', userId]">Profile</a>
                <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
            <!-- <img class="profile-photo" src="/assets/images/user.png"> -->
            <!-- <mat-icon class="side-nav-icon" (click)="emitShowSideNav()">list</mat-icon> -->
            
        </div>
    </mat-toolbar>
</div>