.profile-photo {
  width: 24px;
  height: 24px;
  margin-top: 6px;
}

.mm-item {
  margin-right: 3px;
  font-size: 14px;
  color: #eaeaea;
  padding: 7px 11px;
  text-decoration: none;
  text-decoration: none;
  border-radius: 17px;
}

.mm-item:hover, .activeModule {
  color: #3B49A6;
  background: white;
}

.side-nav-icon {
  margin-left: 10px;
}
